.about-heading-1 {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
}

.container {
  width: 94%;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 50px;
  background-color: #4e4e4e;
}

.nav-link {
  font-size: 18px;
  text-decoration: none;
}

.nav-logo {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.nav-links {
  display: none;
}

.nav-link-contact {
  cursor: not-allowed;
}

.landing-page {
  width: 100%;
  height: 574px;
  height: calc(100vh - 100px);
  background-image: url(/m_background.jpg);
  background-position: center;
  background-size: cover;
}

.landing-page-shadow {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}

.heading {
  font-size: 18px;
  color: #ffffff;
}

.landing-page-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  width: 164px;
  height: 41px;
  background-color: transparent;
  border: 3px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 1s;
}

.landing-page-text {
  width: 577px;
  height: 265px;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-items: flex-start;
  justify-content: space-between;
  align-content: space-between;
}

.landing-page-shadow-container {
  height: 60%;
  display: flex;
}

.fa-brands {
  font-size: xx-large;
}

@media (min-width: 425px) {
  .landing-page-text {
    width: 77%;
  }
}

.padd {
  padding: 50px 0;
}

.about {
  background-color: #f1f1f1;
}

.about-heading-2 {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: bold;
  color: #152d41;
  text-align: left;
}

.about-employee {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.about-employee-pic {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
.about-employee-pic-woman {
  background-image: url(https://img.freepik.com/darmowe-zdjecie/widok-z-boku-kobiety-pozuje-na-krzesle_23-2149915943.jpg);
}
.about-employee-pic-man {
  background-image: url(https://img.freepik.com/darmowe-zdjecie/brunet-mezczyzna-w-okraglych-okularach-i-bialej-koszuli_273609-19360.jpg);
}

.about-employee-desc {
  margin: 50px 14px;
}

.about-employee-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 21px;
}

.offers {
  background-color: #405d78;
}

.offer-heading-1 {
  font-size: 26px;
  color: #ffffff;
  margin-bottom: 50px;
  text-align: center;
}

.offers-wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.offers-wrapper-box {
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 5%;
  position: relative;
  background-color: #f1f1f1;
}

.offers-wrapper-box.last {
  margin-bottom: 0;
}

.offers-wrapper-box-cnt {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
}

.offers-wrapper-box-dot {
  position: absolute;
  top: -16px;
  left: -16px;
  width: 37.65px;
  height: 37.65px;
  border-radius: 50%;
  background-color: #e07a64;
}

.offer-heading-2 {
  font-size: 24px;
}

.footer-main {
  height: 147px;
  background-color: #4e4e4e;
  color: #ffffff;
}

.footer-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.footer-credits {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.medium {
  color: white;
  font-size: x-large;
  text-decoration: none;
}
