@media (min-width: 768px) {
  .container {
    width: 720px;
  }

  .offers-wrapper {
    width: 90%;
  }

  .nav-links {
    display: block;
    width: 30%;
    display: flex;
    justify-content: space-between;
  }

  .nav-link {
    color: #f1f1f1;
  }

  .landing-page-shadow-container {
    height: 48%;
    display: flex;
  }

  .landing-page-text {
    width: 577px;
    height: 215px;
  }

  .about-heading-1 {
    text-align: left;
  }

  .about-employee {
    flex-direction: row;
    text-align: left;
  }

  .about-employee:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: right;
  }

  .about-employee-desc {
    margin-left: 54px;
  }

  .about-employee-desc:nth-of-type(even) {
    margin-right: 54px;
  }

  .offers-wrapper-box-dot {
    position: absolute;
    top: 0 auto;
    left: 0 auto;
    width: 30 auto;
    height: 30 auto;
    transition-duration: 1s;
  }

  .offer-heading-1 {
    font-size: 36px;
    text-align: left;
  }

  .offers-wrapper-box {
    width: 47.5%;
    padding-bottom: 47.5%;
    margin-right: 5%;
  }

  .offers-wrapper-box:nth-of-type(2n) {
    margin-right: 0;
  }

  .offers-wrapper-box:nth-last-of-type(-n + 2) {
    margin-bottom: 0;
  }

  .footer-main {
    height: 71px;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-credits {
    margin-bottom: 0;
  }
}
